<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Wildlife Tracker</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="images/favicon.png" rel="icon">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Template Main CSS File -->
    <link href="style.css" rel="stylesheet">


</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

         <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="/">Home</a></li>

                <li class="drop-down"><a href="#">View Animals</a>
                    <ul>
                        <li><a href="/animals/endangered">Endangered</a></li>
                        <li><a href="/animals/not-endangered">Not Endangered</a></li>

                    </ul>
                </li>

                <li><a href="/rangers">Rangers</a></li>
                <li><a href="/sightings">Sighting Locations</a></li>
                <li><a href="/sighting/new">Register a sighting</a></li>


            </ul>
        </nav><!-- .nav-menu -->



    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero1">



</section><!-- End Hero -->
<hr />
<hr />



<div class="container">


    <div class="row">

        <div class="col-md-12">
            {{#block "content"}}
            {{/block}}
        </div>
    </div>




    <!-- ======= Footer ======= -->
    <footer id="footer">


</footer><!-- End Footer -->

</div>






</body>

</html>